.gradient_text_yellow{
  background: -webkit-linear-gradient(top, #e6c16a, #f3e098 50%, #fffdc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block_center{
  display: block;
  margin: 0 auto;
}
.flex_center_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute_center_center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.overflow_3p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
strong{
  color: #3ad7fb;
}
.my_msg{
  min-width: auto;
  text-align: center;
  display: inline-block !important;
  padding: 14px;
}
.my_msg .el-message__icon{
  display: none !important;
  }